
.program__title {
  font-size: 37px;
  line-height: 53.2px;
  text-align: center;
  color: #000;
}

.program__card {
  margin-top: 45px;
}

@media screen and (min-width: 1000px) {
  .program__cards-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 60px;
    margin-left: -60px;
  }
}